<h1>Failed Charges</h1>
<table class="failed">
  <tbody>
    <%= render @failed %>
  </tbody>
</table>

<h1>Disputed Charges</h1>
<table class="disputed">
  <tbody>
    <%= render @disputed %>
  </tbody>
</table>

<h1>Successful Charges</h1>
<table class="paid">
  <tbody>
    <%= render @paid %>
  </tbody>
</table>
